.App {
  text-align: center;
}

.App-header {
  background-color: #a8c4d1;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 20px;
  margin-bottom: 5vh;
  margin-left: auto!important;
  margin-right: auto!important;
}

.App-stats {
  background-color: rgba(255,255,255,0.5);
  padding: 15px;
}
